projects
results*/**
data/**
.test/results/**
.test/data/**
resources/**
logs/**
.snakemake
.snakemake/**
workflow/.snakemake
workflow/.snakemake/**
TESTING.md
.keras/keras.json
.parallel/tmp/linelen-avm-sdt-emoz-ica
.vscode/settings.json
